* {
	font-family: "poppins", sans-serif;
}
.user-displayname > a:first-child {
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
}
a.forget-password.nav-link {
	display: initial;
	float: right;
	padding-right: 0;
}
.modal-content {
	padding: 1rem;
}
.list-group-item {
	max-height: 12rem;
}
.list-group-item img {
	flex: 1 1 20rem;
	object-fit: contain;
}
.bottom-group select {
	word-wrap: normal;
	width: -webkit-fill-available;
	height: 2rem;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 4px;
}
select#quantity:hover,
select#quantity:focus {
	border-color: #0a0a0a;
}
.fade.section-title.alert.alert-primary.show {
	padding: 0.5rem;
	font-size: 18px;
	font-weight: 500;
	margin: 0.5rem auto;
}

/* demo css */
/* .outer-div {
	max-width: 15rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0.5rem auto;
	padding: 0.5rem;
}
.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 15rem;
	padding: 1rem 0;
	margin: 0;
	font-size: 0.9375rem;
	color: #676a79;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 0.4rem;
}
.avatar {
	height: 3rem;
	width: 3rem;
	position: relative;
	display: inline-block;
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #0f6fec;
	text-decoration: none;
}
.rounded-circle {
	border-radius: 50% !important;
}
.avatar-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}

h6,
.h6 {
	font-size: 0.9375rem;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	line-height: 1.25;
	color: #14191e;
}

.btn-primary-soft {
	color: #0f6fec;
	background-color: rgba(15, 111, 236, 0.1);
	outline: 0;
}

.btn-primary-soft:hover {
	color: #fff;
	background-color: #0f6fec;
} */
