* {
	font-family: "poppins", sans-serif;
}
.user-displayname > a:first-child {
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
}
a.forget-password.nav-link {
	display: initial;
	float: right;
	padding-right: 0;
}
